<html>

<head>
  <link rel="stylesheet" href="../static/css/shared.css">
  <link rel="stylesheet" href="../static/css/contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
  crossorigin="anonymous" />
  <link rel="icon" type="image/jpg" href="../static/images/brand.jpg">
</head>

<body>
  <!-- Header section-->

  <header class="header">
    <div class="container">
      <div class="main-header__brand">
        <a href="index.html">
          <img src="../static/images/brand.jpg" alt="brand">
        </a>
      </div>
      <nav class="main-navigation">
        <ul class="main-navigation__items">
          <li class="main-navigation__item active">
            <a href="index.html">Asosiy</a>
          </li>
          <li class="main-navigation__item">
            <a href="#a">Men haqimda</a>
          </li>
          <li class="main-navigation__item">
            <a href="#a">Xizmatlar</a>
          </li>
          <li class="main-navigation__item">
            <a href="#a">Mijozlar</a>
          </li>
          <li class="main-navigation__item">
            <a href="#a">Portfolio</a>
          </li>
          <li class="main-navigation__item">
            <a href="#a">Blog</a>
          </li>
          <li class="main-navigation__item">
            <a href="#a">Sheriklar</a>
          </li>
          <li class="main-navigation__item">
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- /Header section -->

  <!-- Contact Section -->
  <div class="container">
    <section class="contact">
      <div class="contact-title">
        Get in Touch
      </div>
      <form action="./php.server" method="GET">
        <textarea name="massage" id="" placeholder="Enter your message" rows="10"></textarea>
        <div class="half left">
          <input type="text" placeholder="Enter your name" name="firstname">
        </div>
        <div class="half right">
          <input type="email" name="email" placeholder="Enter your email address">
        </div>
        <input type="text" placeholder="Subject of message" name="subject">
        <button class="button" type="submit">SUBMIT MESSAGE</button>
      </form>
    </section>
  </div>


    <footer>
      <div class="footer-brand">
        <a href="index.html">
          <img src="../static/images/brand.jpg" alt="brand">
        </a>
      </div>
      <div class="footer-section">
        <div class="footer-item">
          <a href="index.html">Home</a>
        </div>
        <div class="footer-item">
          <a href="#a">About me</a>
        </div>
        <div class="footer-item">
          <a href="#a">Services</a>
        </div>
        <div class="footer-item">
          <a href="#a">Clients</a>
        </div>
        <div class="footer-item">
          <a href="#a">Portfolio</a>
        </div>
        <div class="footer-item">
          <a href="#a">Blog</a>
        </div>
        <div class="footer-item">
          <a href="#a">Partners</a>
        </div>
        <div class="footer-item">
          <a href="contact.html">Contact</a>
        </div>
      </div>

      <div class="social-items">
        <div class="social-item">
          <a href="http://t.me/Ibn_Hamid">
            <i class="fab fa-telegram telegram"></i>
          </a>
        </div>

        <div class="social-item">
          <a href="http://youtube.com/channel/UC13jdiwDugUIhuihio">
            <i class="fab fa-youtube youtube"></i>
          </a>
        </div>

        <div class="social-item">
          <a href="http://instagram.com//Ibn_Hamid">
            <i class="fab fa-instagram instagram"></i>
          </a>
        </div>

        <div class="social-item">
          <a href="http://twitter.com//Ibn_Hamid">
            <i class="fab fa-twitter twitter"></i>
          </a>
        </div>
      </div>
      <div class="copyright">Copyright<i class="fab fa-copyright"></i> 2021 This web site is designed only for
        educational purposes.
      </div>
    </footer>
  

</body>

</html>